.ItemCount{
    text-align: center;
    padding:20px;
}

.counter{
    height: 20px;
    width:20px;
    font-size: 15px;
    text-align: center;
}

h3{
    padding-left: 5px;
    padding-right: 5px;
}
#counter1, #counter2, #h3 {
    display: inline-block;
}

#add{
    font-size:15px;
    padding:5px;
}


img{
    height: 130px;
    width:100px;
}
.producto1{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    width:200px;
    border-style:groove;
    border-width: 3px;
    border-color: black;
}
